<div class="jumbotron">
  <h1 class="display-4">CRUD</h1>
  <p class="lead">Caros amigos, o aumento do diálogo entre os diferentes setores produtivos agrega valor ao estabelecimento da gestão inovadora da qual fazemos parte.</p>
  <hr class="my-4">
  <p>CRUD (acrónimo do inglês Create, Read, Update and Delete) são as quatro operações básicas (criação, consulta, atualização e destruição de dados) utilizadas em bases de dados relacionais (RDBMS) fornecidas aos utilizadores do sistema.</p>
  <a class="btn btn-primary btn-lg" href="/tabela" role="button">Veja seu post aqui</a>
    <a class="btn btn-primary btn-lg" href="/form" role="button">Publicar</a>
</div>